section.featured_course
    .container 
        .__box.__col-2.__col-m
            .__box-item
                p.__sub Featured Course
                    hr.__sub-hr
                h1 Run your own online learning platform
                p A deep-dive on the Instagram algorythm, hashtags, content strategy, and branding.
                p.__sign Kathryn Murphy
                a.__btn.__btn-brand(href='#') Learn More
            .__box-item.__blobs-container
                img.svg-wave-dims(src='@img/icons/icons_wave.svg#wave' alt='wave')
                img.svg-phone_pink-dims(src="@img/icons/icons_blob.svg#phone_pink" alt="phone_pink")
                span.__blobs-100x100.__blobs-left
                span.__blobs-150x150.__blobs-right
                span.__blobs-375x375.__blobs-right
        .__box
            h2 Featured Courses
                hr
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
            a.__btn.__btn-brand(href='#') View All Courses
        .__box.__col-3.__col-m
            .__card.__card-img
                .__card-head
                    img.svg-phone-dims(src="@img/icons/icons_393x197.svg#phone" alt="phone")
                .__card-body
                    h3 How to Increase Your Engagement on Instagram
                    p.__sign Katie Murphy
                    p.__price
                        span
                        span $ 59.99 USD 
                .__card-footer 
                    a.__btn.__btn-transparent(href='#') Learn More
            .__card.__card-img
                .__card-head
                    img.svg-phone-dims(src="@img/icons/icons_393x197.svg#laptop" alt="laptop")
                .__card-body
                    h3 Business 101: Setting up Your Taxes
                    p.__sign Bessie Cooper
                    p.__price 
                        span $ 69.99 USD
                        span $ 39.99 USD 
                .__card-footer 
                    a.__btn.__btn-transparent(href='#') Learn More
            .__card.__card-img
                .__card-head
                    img.svg-phone-dims(src="@img/icons/icons_393x197.svg#phone_cam" alt="phone_cam")
                .__card-body
                    h3 iPhone Photography: Tips, Tricks and Best Practices
                    p.__sign Dianne Russell
                    p.__price 
                        span $ 69.99 USD
                        span $ 39.99 USD 
                .__card-footer 
                    a.__btn.__btn-transparent(href='#') Learn More
section.contact 
    .container 
        .__box.__col-2.__col-m
            .__box-item
                img.svg-girl_laptop-dims(src="@img/icons/icons_720x664.svg#girl_laptop" alt="girl_laptop")
            .__box-item
                h2 Get personalized learning recommendations
                    hr
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urnaLorem ipsum dolor sit amet.
                a.__btn.__btn-brand(href='#') Contact Us
section.workshops
    .container 
        .__box
            .__box-item
                h2 Upcoming Free Workshops
                    hr
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                a.__btn.__btn-brand(href='#') View All Workshops
        .__box.__col-3.__col-m
            .__card.__card-txt 
                .__card-body
                    h3 Photography Basics
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo.
                .__card-footer 
                    a.__btn.__btn-transparent(href='#') Learn More
            .__card.__card-txt 
                .__card-body
                    h3 Business 101
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo.
                .__card-footer 
                    a.__btn.__btn-transparent(href='#') Learn More
            .__card.__card-txt 
                .__card-body
                    h3 Social Networking Camp
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo.
                .__card-footer 
                    a.__btn.__btn-transparent(href='#') Learn More
section.swpr
    .container
        .swiper.swiper_list
            .swiper-wrapper
                .swiper-slide
                    .__list
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                    p.swpr-text “Kate’s courses are a game changer. She’s thorough, organized, and explains things in a no-nonsense way that makes it easy for anyone—beginners to experts—to learn something from her courses and take their game to the next level.”
                    p.__sign James Brown, Influencer
                .swiper-slide
                    .__list
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                    p.swpr-text “Kate’s courses are a game changer. She’s thorough, organized, and explains things in a no-nonsense way that makes it easy for anyone—beginners to experts—to learn something from her courses and take their game to the next level.”
                    p.__sign James Brown, Influencer
            .swiper-pagination
section.teaching
    .container 
        .__box.__col-2.__col-m
            .__box-item.__blobs-container
                img.svg-wave-dims(src='@img/icons/icons_wave.svg#wave' alt='wave')
                img.svg-girl_glasses-dims(src="@img/icons/icons_blob.svg#girl_glasses" alt="girl_glasses")
                span.__blobs-100x100.__blobs-right
                span.__blobs-120x120.__blobs-left
                span.__blobs-375x375.__blobs-right
            .__box-item
                h2 A Passion for Teaching
                    hr
                p A deep-dive on the Instagram algorythm, hashtags, content strategy, and branding.
                a.__btn.__btn-brand(href='#') About Skillz
section.articles
    .container 
        .__box
            .__box-item
                h2 Recent Articles
                    hr
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                a.__btn.__btn-brand(href='#') View All Articles
        .__box.__col-3.__col-m
            .__card.__card-arc
                .__card-head
                    img.svg-phone_tikTok-dims(src="@img/icons/icons_393x197.svg#phone_tikTok" alt="phone_tikTok")
                .__card-body
                    p.__date February 8, 2021
                    h3 The TikTok Algorithm: How to Get the Best Engagement
                    p.__sign Dianne Russell
            .__card.__card-arc
                .__card-head
                    img.svg-phone-dims(src="@img/icons/icons_393x197.svg#phone" alt="phone")
                .__card-body
                    p.__date February 8, 2021
                    h3 How to Win Friends and Influence People
                    p.__sign Marvin McKinney
            .__card.__card-arc
                .__card-head
                    img.svg-phone_cam-dims(src="@img/icons/icons_393x197.svg#phone_cam" alt="phone_cam")
                .__card-body
                    p.__date January 31, 2021
                    h3 iPhone Photography: Tips, Tricks, and Best Practices
                    p.__sign Katie Murphy
section.define 
    .container 
        h2 You have the power to define your future.
        include form