.svg-icon_logo {
    width : 135px;
    height: 44px;
}

.svg-laptop-dims {
    width : 393px;
    height: 197px;
}

.svg-phone-dims {
    width : 393px;
    height: 197px;
}

.svg-phone_cam-dims {
    width : 393px;
    height: 197px;
}

.svg-phone_tikTok-dims {
    width : 391px;
    height: 196px;
}

.svg-girl_glasses-dims {
    max-width : 594px;
    max-height: 594px;
}

.svg-girl_laptop-dims {
    max-width : 720px;
    max-height: 664px;
}

.svg-phone_pink-dims {
    max-width : 674px;
    max-height: 674px;
}

.svg-wave-dims {
    max-width : 357px;
    max-height: 248px;
}