//font-family
$ff__awesome: 'fontawesome';
$ff__main : SourceSansPro;

//colors
$color-bg          :#F5F5F5;
$color-text-white  :#F6F6F8;
$color-text-gray   :#B2B2BF;
$color-brand       : #57D9A6;
$color-violet      :#23233B;
$color-violet-dark :#1C1C33;
$color-violet-light:#363644;
$color-violet-thin: #4E4E65;

//width & height
$rate  : 100%;
$px    : 10px;
$rem   : 1rem;
$zero  : 0;
$pdd-l : 2.67%;
$wDec  : 250px;
$hDec  : 256px;