doctype html 
html(lang='en')
    head 
        include html/head 
        title Home - Skillz
    body 
        include html/header 
        main
            include html/section 
        include html/footer 
        include html/script 